<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://cdn.tailwindcss.com"></script>
 <link
 href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css"
 rel="stylesheet"
/>
 <title>Kazuma Wada</title>
</head>
<body>
 <a href="/">←</a>

 <div class="text-center">
  <h1 class="font-normal text-4xl m-4">{{ title }}</h1>
  <h1 class="font-bold text-sm mb-10 text-gray-500">{{ date }}</h1>
  {{ content }}
 </div>
 
</body>
</html>